venv/
env/
dist/
build/
*.eggs
*.egg-info/
*.pyc
*/__pycache__/
.pytest_cache/
.mypy_cache/
tags

htmlcov/
.coverage

*.swp
*.swo

src/btwa_frontend/node_modules
src/btwa_frontend/public/build
src/btwa_frontend/public/trace
